@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import "common/mixin";

@include from('l') {
  h2 {
    font-size: 34px;
    letter-spacing: 2.3px;
  }

  .menu li:not(:first-child) {
    margin-left: 40px;
  }

  .header {
    .for-business {
      flex-basis: 466px;
    }
    .for-info {
      flex-basis: 406px;
    }
  }
  .header-content-title {
    font-weight: normal;
    display: flex;
    align-items: center;
  }
  .header-content-list li {
    display: inline-block;
    &:first-child {
      padding-bottom: 15px;
    }
    &:nth-child(odd) {
      min-width: 241px;
      border-right: 2px solid #ffffff;
    }
    &:nth-child(even) {
      padding-left: 25px;
    }
  }

  #for-business-3, #for-info-3 {
    padding-right: 30px;
  }

  .writing-texts-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 10px 0 0 -100px;
    .icon-writing-text {
      width: 90px;
      height: 83px;
      margin-left: -45px;
      position: absolute;
      bottom: 88%;
      left: 50%;
    }
  }

  .clients {
    overflow: hidden;
    .container {
      position: relative;
      &::before {
        background: url(../img/bg-clients-line.png) no-repeat center 60%;
        position: absolute;
        width: 1145px;
        height: 392px;
        bottom: 242px;
        left: 0;
        content: '';
        z-index: -1;
      }
    }
  }
  .client-visits li {
    width: calc(100% / 4);
  }

  .about-me {
    .col-md-5 {
      min-height: 410px;
      padding-right: 30px;
      z-index: 9;
    }
    .col-md-7 {
      padding-left: 0;
    }
    .benefits {
      .icon-experience, .icon-orders {
        margin-right: 25px;
      }
    }
  }

  .cooperation-partner-box {
    flex-direction: column;
  }

  .recommendations .nav-tabs-blue {
    font-size: 16px;
  }
  .recommendations-list img {
    width: 170px;
  }

  #for-business-1, #for-info-1 {
    padding-left: 14px;
  }

  .promotion-strategy {
    display: flex;
    justify-content: space-between;
    > li {
      &:not(:last-child):not(:first-child) {
        width: 380px;
        padding: 0 23px;
        border-right: 1px solid #E1E6E9;
        border-left: 1px solid #E1E6E9;
      }
      &:first-child, &:last-child {
        width: 33%;
      }
      &:first-child {
        padding-left: 0;
        padding-right: 20px;
      }
      &:last-child {
        padding-right: 0;
        padding-left: 24px;
      }
    }
  }
}

@include from('xl') {
  .header-content {
    padding: 0 25px;
  }

  .writing-texts-price {
    width: 360px;
    padding-top: 22px;
    padding-left: 29px;

    .title {
      margin-left: 3px;
      padding-bottom: 7px;
      font-size: 20px;
    }
    .text {
      margin-bottom: 17px;
      margin-left: -7px;
      padding-bottom: 9px;
    }
    .list-blue li {
      padding-left: 20px;
      margin-bottom: 2px;
      &::before {
        margin-right: 0;
        left: -2px;
      }
    }
  }
  .writing-texts .btn {
    width: 220px;
  }
  .writing-texts-box + .writing-texts-box {
    padding-left: 210px;
  }
  .writing-texts-btn {
    margin-left: -110px;
    &::before {
      left: -130px;
    }
  }

  .recommendations .nav-tabs-blue {
    font-size: 17px;
  }
  .recommendations-list li {
    padding: 0 35px;
  }
  .recommendations-more::before {
    left: 205px;
    bottom: -78px;
  }
  .recommendations-more::after {
    right: 231px;
    bottom: -70px;
  }
  .recommendations-list-text {
    min-height: 42px;
  }

  .faq {
    padding-bottom: 8px;
    h2 {
      padding-bottom: 37px;
    }
  }
  .faq-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .faq-item {
    max-width: calc(100% / 2 - 25px);
    flex-basis: calc(100% / 2 - 25px);
  }

  .cooperation {
    padding-bottom: 155px;
  }
  .cooperation-income {
    justify-content: space-around;
  }
  .cooperation-income-left {
    width: 360px;
  }
  .cooperation .col-lg-5 {
    width: 510px;
    padding-right: 0;
  }
  .cooperation .col-lg-7 {
    width: 630px;
    float: right;
    line-height: 1.3;
  }
  .cooperation-partner {
    padding-top: 37px;
    justify-content: space-between;
  }
  .cooperation-partner-box {
    flex-direction: row;
  }
  .cooperation-partner-icon {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .cooperation-bottom {
    padding-top: 90px;
  }

  .clients .container {
    background: url(../img/bg-clients.png) no-repeat center 386px;
    background-size: 1175px 502px;
  }
  .client-visits li:last-child .client-visits-max {
    margin-right: 45px;
  }

  .fancybox-view img {
    max-width: 417px;
  }

  footer .developer {
    margin-right: 55px;
  }

  .about-me .benefits {
    justify-content: flex-start;
    li:first-child {
      margin-right: 70px;
    }
  }
}

@include to('s') {
  .modal-title {
    font-size: 30px;
    color: #3C3C3C;
    letter-spacing: 2px;
    @include RobotoBold;
  }
  .to-top {
    display: none;
  }
}

@include to('m') {
  .header {
    height: 890px;
  }
  .top-panel {
    margin-bottom: 120px;
  }
  .contact-btn {
    width: 150px;
    margin-left: 25px;
  }
  .header-content {
    margin-bottom: 112px;
    .btn-transparent {
      min-width: 0;
      align-self: baseline;
    }
  }
  .header-content-title {
    margin-bottom: 15px;
    align-self: baseline;
    svg {
      margin-bottom: 12px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .header-content-list {
    margin-bottom: 20px;
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    li {
      &:first-child {
        padding-bottom: 7px;
      }
      &:nth-child(2) {
        font-size: 15px;
        order: 2;
        padding: 13px 10px 6px 0;
        margin-top: 15px;
        border-top: 2px solid #fff;
      }
      &:nth-child(odd)::before {
        margin-top: 7px;
        margin-right: 13px;
      }
      &:last-child {
        font-size: 15px;
        order: 3;
      }
    }
  }
  .header .for-business, .header .for-info {
    display: inline-flex;
    flex-direction: column;
  }

  .benefits-wrap {
    &::after {
      top: 94%;
    }
    .benefits [class^="icon-"] {
      margin-bottom: 23px;
    }
  }

  .tariff {
    padding-top: 143px;
    h2 {
      margin-bottom: 58px;
    }
    .nav-tabs {
      > li {
        font-size: 15px;
        &::before {
          display: none;
        }
      }
    }
    .list-blue {
      padding-left: 5px;
    }

    .fancybox-view {
      max-width: 283px;
      margin-bottom: 26px;
    }
    .tab-content {
      padding-left: 34px;
    }
  }
  .tariff-order {
    bottom: -23px;
    z-index: 90;
  }
  .info-description {
    margin-left: 6px;
    clear: both;
  }
  #for-business {
    margin-bottom: 97px;
  }
  .for-business-link {
    top: 16px;
  }

  .writing-texts h2 {
    margin-bottom: 45px;
  }

  .tariff-title-tab {
    margin: -22px 0 29px;
    line-height: 27px;
  }
  .promotion-strategy {
    > li:not(:last-child) {
      margin-bottom: 27px;
    }
    .list-dash {
      column-count: 2;
      li {
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }
  .promotion-strategy-title {
    padding: 15px 10px 15px;
    margin-bottom: 17px;
  }

  .writing-texts {
    padding-top: 139px;
    .container {
      &::before {
        left: -58px;
        bottom: 63px;
      }
      &::after {
        right: -44px;
        bottom: 119px;
      }
    }
  }
  .writing-texts-box {
    margin-bottom: 50px;
    padding-right: 0;
    flex-basis: 49%;
    + .writing-texts-box {
      padding-left: 40px;
    }
    .list-blue li {
      padding-left: 16px;
    }
  }
  .writing-texts-price {
    width: 48%;
    padding-top: 21px;
    .title {
      margin: 0;
      padding: 0 0 7px;
      font-size: 19px;
      letter-spacing: 1.12px;
      line-height: 26px;
      text-transform: uppercase;
      text-align: center;
      white-space: nowrap;
      font-family: 'Roboto-Medium', sans-serif;
    }
    .list-blue li {
      padding-left: 35px;
      &::before {
        left: 5px;
      }
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }
  .writing-texts-btn {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
    &::before {
      bottom: 128px;
      left: 200px;
      width: 348px;
      height: 348px;
      background-size: contain;
    }
    .btn-blue {
      width: 250px;
      padding: 0 10px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    .icon-writing-text {
      width: 50px;
      height: 46px;
      margin-bottom: 7px;
      margin-right: 20px;
      position: relative;
    }
    span {
      align-self: center;
    }
  }

  .nav-tabs-blue li {
    font-size: 15px;
  }

  .clients {
    padding-bottom: 123px;
    overflow: hidden;
    &::before {
      top: -16px;
    }
    .container {
      padding-top: 156px;
      &::before {
        background: url(../img/bg-clients-line-sm.png) no-repeat center;
        position: absolute;
        width: 140%;
        height: 100%;
        top: 120px;
        left: -155px;
        content: '';
        z-index: -1;
      }
    }
    .nav-tabs {
      position: relative;
      z-index: 90;
    }
  }
  .client-visits li {
    width: calc(100% / 3);
    &:first-child .client-visits-max {
      margin-right: 77px;
    }
  }

  .recommendations {
    padding-top: 77px;
    h2 {
      margin-bottom: 65px;
    }
    .nav-tabs-blue li {
      flex: 1 1 auto;
    }
  }
  .recommendations-more {
    margin-top: 38px;
    &::after {
      right: 20px;
    }
    &::before {
      left: -6px;
      bottom: -77px;

    }
    .btn-block {
      margin-top: 33px
    }
  }

  .about-me {
    padding-top: 192px;
    padding-bottom: 83px;
    h2 {
      padding-bottom: 36px;
    }
    .col-md-7 {
      min-height: 255px;
    }
    .benefits li {
      flex-direction: column;
    }
    p {
      padding: 0 15px;
    }
  }
  .personal-block {
    width: 345px;
    margin-top: 0;
    margin-left: 15px;
    position: absolute;
    bottom: 20px;
    left: 100%;
  }
  .author-contacts li:first-child {
    max-width: 120px;
    word-wrap: break-word;
  }
  .author-contacts {
    margin-top: 19px;
  }

  .faq {
    padding-bottom: 70px;
    h2 {
      padding-bottom: 39px;
    }
  }
  .faq-body {
    padding: 13px 31px 20px;
  }

  .cooperation {
    padding-top: 156px;
    .col-lg-5 {
      margin-bottom: 34px;
    }
    .cooperation-bottom {
      padding-top: 55px;
    }
    .cooperation-partner-icon {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
  .cooperation-income {
    margin-bottom: 34px;
    padding-bottom: 12px;
    p {
      line-height: 19px;
    }
  }
  .cooperation-income-left {
    min-height: 100px;
  }

  footer {
    padding-bottom: 25px;
    &::before {
      bottom: -18px;
    }
  }
}

@include at('l') {
  .faq {
    padding-bottom: 72px;
  }

  .about-me .benefits {
    justify-content: space-between;
  }

  .tariff .fancybox-view {
    max-width: 41%;
    margin-top: 10px;
  }

  .clients .container {
    background: url(../img/bg-clients-md.png) no-repeat center 379px;
    background-size: 968px 501px;
  }
  .client-visits {
  }
}

@media (min-width: 1500px) {
  .to-top {
    right: 100px;
  }
}

@media (min-width: 1921px) {
  .header::after {
    height: 196px;
    background: url(../img/bg-header@2x.png) no-repeat center bottom;
  }
  .tariff {
    padding-top: 200px;
    &::before {
      height: 222px;
    }
  }
  .cooperation::before {
    height: 210px;
    background-position-y: top;
  }
  .clients::after {
    height: 205px;
  }
  footer::before {
    height: 200px;
    margin-top: 0;
    background: url(../img/bg-footer@2x.png) no-repeat center bottom;
    position: absolute;
    bottom: 100%;
  }

  .header::after, .tariff::before, .clients::before, .benefits-wrap::after, .clients::after, .about-me,
  .cooperation::before, footer::before {
    background-size: 100%;
  }

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi),
only screen and (min--moz-device-pixel-ratio: 1.5) {
  .header::after {
    background: url(../img/bg-header@2x.png) no-repeat top center;
    background-size: cover;
  }
  .benefits-wrap::after {
    background: url(../img/bg-for-business-sm@2x.png) no-repeat center top;
    background-size: 100%;
    top: 125%;
  }
  .tariff::before {
    background: url(../img/bg-writing-texts@2x.jpg) no-repeat center top;
    background-size: cover;
  }
  .clients .container {
    background: url(../img/bg-clients@2x.png) no-repeat center 386px;
    background-size: cover;
  }
  .clients::after {
    background-image: url(../img/bg-bottom-clients@2x.jpg);
    background-size: cover;
  }
  .about-me {
    background: url(../img/bg-for-business-sm@2x.png) no-repeat center 12%;
    background-size: 100%;
  }
  .cooperation::before {
    background: url(../img/bg-cooperation@2x.png) no-repeat center top;
    background-size: 140%;
  }
  footer::before {
    background: url(../img/bg-footer@2x.png) no-repeat center top;
    background-size: cover;
  }
  .clients .container {
    background: url(../img/bg-clients@2x.png) no-repeat center 386px;
    background-size: 1175px 502px;
  }
  .clients .container::before {
    background: url(../img/bg-clients-line@2x.png) no-repeat center 41%;
    background-size: 100%;
  }

  .writing-texts .container {
    &::after {
      background: url(../img/buble-decor@2x.png) no-repeat center;
    }
    &::after {
      background: url(../img/buble-decor-mini@2x.png) no-repeat center;
    }
    &::after, &::before {
      background-size: contain;
    }
  }

  .writing-texts-btn::before {
    background: url(../img/buble-writing@2x.png) no-repeat center;
    background-size: contain;
  }

  .recommendations-more {
    &::before {
      background: url(../img/buble-recommendations@2x.png) no-repeat center;
    }
    &::after {
      background: url(../img/buble-recommendations-mini@2x.png) no-repeat center;
    }
    &::before, &::after {
      background-size: contain;
    }
  }
}
