@keyframes showSocials {
  0% {
    transform: translate3d(0, 40px, 0);
    opacity: 0
  }
  to {
    transform: translateZ(0);
    opacity: 1
  }
}

@keyframes fadeRight-menu {
  0% {
    opacity: 0;
    transform: translate(-35px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(35px, 0);
  }
}

@keyframes spin {
  to {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes backgroundChange {
  to {
    opacity: 1;
  }
}

@keyframes background {
  50% {
    background: skyblue;
    box-shadow: 0 -200px 100px -100px yellowgreen inset;
  }
}
