html,
body {
  min-width: 768px;
  background: #181a1b;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.4;
  @include CeraGRRegular;
}

a, .as-link {
  color: #33ddfb;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    color: #32b9fc;
  }
  &:focus {
    outline: none;
  }
}

.as-link {
  cursor: pointer;
}

b, strong {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.text {
  &-center {
    text-align: center
  }
  &-left {
    text-align: left
  }
  &-right {
    text-align: right
  }
  &-justify {
    text-align: justify
  }
  &-bold {
    font-weight: normal;
  }
  &-nowrap {
    white-space: nowrap;
  }
  &-lowercase {
    text-transform: lowercase;
  }
  &-uppercase {
    text-transform: uppercase;
  }
  &-capitalize {
    text-transform: capitalize;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.list {
  &-unstyled {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
}

.clearfix {
  @include clearfix;
}

button, input, select, textarea {
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

.container {
  width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

.support-block {
  display: flex;
  align-items: center;
  .social {
    align-self: center;
  }
  .btn-white {
    min-width: 200px;
    height: 60px;
    line-height: 58px;
    letter-spacing: 1px;
  }
}

.social {
  height: 30px;
  margin-right: 38px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  li {
    padding-top: 6px;
    display: inline-block;
    vertical-align: top;
    &:first-child {
      padding-top: 4px;
      margin-right: 26px;
    }
  }
  a:hover svg {
    fill: #33ddfb;
  }
  svg {
    fill: #fff;
    transition: all 0.3s ease;
  }
  .icon-be {
    width: 24px;
    height: 24px;
  }
  .icon-fb {
    width: 18px;
    height: 18px;
  }
}

.title-block {
  display: flex;
  align-items: center;
  &::before {
    width: 50px;
    height: 1px;
    margin-right: 25px;
    content: '';
    background-color: #33ddfb;
  }
}
