@font-face {
  font-family: 'ceragr-bold';
  src: url('../fonts/CeraPRO-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/CeraPRO-Bold.woff') format('woff'), url('../fonts/CeraPRO-Bold.ttf') format('truetype'), url('../fonts/CeraPRO-Bold.svg#CeraPRO-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ceragr-light';
  src: url('../fonts/CeraPRO-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/CeraPRO-Light.woff') format('woff'), url('../fonts/CeraPRO-Light.ttf') format('truetype'), url('../fonts/CeraPRO-Light.svg#CeraPRO-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ceragr-medium';
  src: url('../fonts/CeraPRO-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/CeraPRO-Medium.woff') format('woff'), url('../fonts/CeraPRO-Medium.ttf') format('truetype'), url('../fonts/CeraPRO-Medium.svg#CeraPRO-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ceragr-regular';
  src: url('../fonts/CeraPRO-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/CeraPRO-Regular.woff') format('woff'), url('../fonts/CeraPRO-Regular.ttf') format('truetype'), url('../fonts/CeraPRO-Regular.svg#CeraPRO-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
