@font-face {
  font-family: 'CeraGR-Thin';
  src: url('../fonts/CeraGR-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/CeraGR-Thin.otf') format('opentype'),
  url('../fonts/CeraGR-Thin.woff') format('woff'), url('../fonts/CeraGR-Thin.ttf') format('truetype'), url('../fonts/CeraGR-Thin.svg#CeraGR-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ceragr-bolduploaded_file';
  src: url('../fonts/cera_gr_bold-webfont.woff2') format('woff2'),
  url('../fonts/cera_gr_bold-webfont.woff') format('woff'),
  url('../fonts/cera_gr_bold-webfont.svg#ceragr-bolduploaded_file') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ceragr-lightuploaded_file';
  src: url('../fonts/cera_gr_light-webfont.woff2') format('woff2'),
  url('../fonts/cera_gr_light-webfont.woff') format('woff'),
  url('../fonts/cera_gr_light-webfont.svg#ceragr-lightuploaded_file') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ceragr-mediumuploaded_file';
  src: url('../fonts/cera_gr_medium-webfont.woff2') format('woff2'),
  url('../fonts/cera_gr_medium-webfont.woff') format('woff'),
  url('../fonts/cera_gr_medium-webfont.svg#ceragr-mediumuploaded_file') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ceragr-regularuploaded_file';
  src: url('../fonts/cera_gr-webfont.woff2') format('woff2'),
  url('../fonts/cera_gr-webfont.woff') format('woff'),
  url('../fonts/cera_gr-webfont.svg#ceragr-regularuploaded_file') format('svg');
  font-weight: normal;
  font-style: normal;
}
