@import "mixin";

.hide-placeholder {
  @include hidePlaceholder {
    opacity: 1;
    color: #e6e6e6;
    font-size: 17px;
    transition: opacity 0.3s ease;
    @include CeraGRThin;
  }

  &:focus {
    @include hidePlaceholder {
      opacity: 0;
    }
  }
}

.form-group {
  margin-bottom: 15px;
  position: relative;
  &::after {
    width: 0;
    height: 2px;
    position: relative;
    top: -2px;
    display: block;
    content: '';
    border-bottom: 2px solid #33ddfb;
    transition: all 0.3s ease;
  }
}

.form-group-focus::after {
  width: 100%;
}

.form-control {
  width: 100%;
  padding: 0 10px 11px;
  font-size: 17px;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  background-color: transparent;
  font-weight: normal;
  display: block;
  transition: all .3s ease;
  @include CeraGRThin;
}

textarea.form-control {
  height: 188px;
  padding: 19px 47px 10px;
  resize: none;
  overflow: hidden;
}
