@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import "common/mixin";
@import "common/fonts";
@import "common/btn";
@import "common/form";
@import "common/common";
@import "blocks/header";
@import "blocks/our-mission";
@import "blocks/nav-left";
@import "blocks/nav-panel";
@import "blocks/footer";
@import "blocks/about-us";
@import "blocks/who-we";

.cases {
  color: #fff;
  .container {
    height: 100vh;
    padding-top: 65px;
    padding-bottom: 55px;
    @include clearfix;
  }
}

.cases-title-img {
  margin-bottom: 120px;
  clear: both;
}

.cases-left {
  width: 50%;
}

.cases-title {
  margin: 0 0 20px;
  padding: 0;
  font-size: 31px;
  font-weight: normal;
  @include CeraGRBold;
}

.cases-text {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.2;
  @include CeraGRLight;
}

.wrapper {
  background: url(../img/bg/bg-page@2x.png) no-repeat center top;
  background-size: cover;
}

.header-page {
  height: 312px;
  padding-top: 71px;
}

.page-content {
  padding-bottom: 30px;
  font-size: 21px;
  text-align: center;
  color: #e6e6e6;
  line-height: 1.3;
  @include CeraGRLight;
  p {
    margin-bottom: 20px;
  }
}

.title-top-line {
  margin: 0 0 95px;
  text-align: center;
  color: #33ddfb;
  font-size: 24px;
  text-transform: uppercase;
}

.title-top-line-text {
  display: inline-block;
  &::before {
    width: 100%;
    height: 1px;
    margin-bottom: 90px;
    background-color: #33ddfb;
    display: inline-block;
    content: '';
  }
}
