@font-face {
  font-family: 'CeraGR-Light';
  src: url('../fonts/CeraGR-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/CeraGR-Light.otf') format('opentype'),
  url('../fonts/CeraGR-Light.woff') format('woff'), url('../fonts/CeraGR-Light.ttf') format('truetype'), url('../fonts/CeraGR-Light.svg#CeraGR-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-Light';
  src: url('../fonts/WorkSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/WorkSans-Light.otf') format('opentype'),
  url('../fonts/WorkSans-Light.woff') format('woff'), url('../fonts/WorkSans-Light.ttf') format('truetype'), url('../fonts/WorkSans-Light.svg#WorkSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  position: relative;
}

a {

  color: rgb(230, 230, 230);
}

.stub {
  height: 100%;
  line-height: 1.2;
  color: rgb(255, 255, 255);
  text-align: center;
  background: url("../img/bg-stub@2x.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stub-logo {
  img {
    width: 355px;
  }
}

.stub-text {
  padding: 70px 0;
  font-size: 35px;
  font-family: 'CeraGR-Light', sans-serif;
  width: 600px;
  font-weight: normal;
  font-style: normal;
}

.stub-contacts {
  display: flex;
  justify-content: center;
  > ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
}

.stub-info {
  padding-right: 55px;
  font-size: 20px;
  font-family: 'WorkSans-Light', sans-serif;
  a {
    text-decoration: none;
  }
  li {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &::before {
      width: 30px;
      height: 1px;
      margin-right: 20px;
      content: '';
      display: inline-block;
      vertical-align: middle;
      background-color: #33ddfb;
    }
  }
}

.stub-social {
  padding-left: 55px;
  li {
  }
  img {
    width: 24px;
    height: 24px;
    fill: #fff;
  }
}
