.about-me {
  padding-top: 185px;
  padding-bottom: 113px;
  background: url(../img/bg-about-me.png) no-repeat center top;

  .benefits {
    margin-bottom: 8px;
    padding-top: 0;
    li {
      padding: 0;
      display: flex;
      align-items: center;
    }
  }
  p {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.3;
    @include RobotoLight;
  }
}

.personal-block {
  margin-top: 49px;
  padding: 9px;
  border: 3px solid #F8FAFE;
  text-align: center;
  font-size: 15px;
  letter-spacing: 1px;
  z-index: 7;
  a:not(:hover) {
    text-decoration: underline;
  }
}

.author-contacts {
  margin-top: 45px;
  padding: 20px 0 15px;
  background-color: #F8FAFE;
  border-radius: 2px;
  font-size: 15px;
  letter-spacing: 1px;;
  @include RobotoRegular;
  text-align: center;
  display: flex;
  justify-content: space-around;

  svg {
    fill: #4580E0;
    display: inline-block;
    margin: 0 auto;
    transition: all .3s ease;
  }
  .icon-telegram-text {
    color: #4580E0;
    padding-left: 8px;
    @include RobotoMedium;
  }
  li {
    letter-spacing: 1px;
    font-size: 15px;
    color: #585858;
  }
  a {
    color: #585858;
    display: block;
    &:hover {
      color: #32b9fc;
      svg {
        fill: #32b9fc;
      }
    }
  }
  .icon-mail {
    width: 33px;
    height: 21px;
  }
  .icon-vk {
    width: 32px;
    height: 20px;
  }
  .icon-fb {
    width: 14px;
    height: 29px;
  }
  .icon-telegram {
    width: 38px;
    height: 38px;
    vertical-align: middle;
  }
  .icon-skype {
    width: 32px;
    height: 32px;
  }
  .wrap-icon {
    height: 32px;
    margin-bottom: 10px;
    color: #4580E0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
