.about-us-advantages {
  padding-left: 71px;
  padding-right: 108px;
  margin-bottom: 67px;
  list-style: none;
  display: flex;
  justify-content: space-between;

  li {
    padding: 55px 0 50px;
    position: relative;
    color: #33ddfb;
    font-size: 44px;
    line-height: 1;
    text-transform: uppercase;
    @include CeraGRMedium;
    &::before, &::after {
      width: 100px;
      height: 100px;
      content: '';
      position: absolute;
      top: 23px;
      left: 50%;
      margin: 0 0 0 -50px;
      z-index: 3;
      transform: rotateZ(45deg);
    }
    &::before {
      background: #0f5c80;
      background: -moz-linear-gradient(-45deg, #0f5c80 0%, #232525 100%);
      background: -webkit-linear-gradient(-45deg, #0f5c80 0%, #232525 100%);
      background: linear-gradient(135deg, #0f5c80 0%, #232525 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f5c80', endColorstr='#232525', GradientType=1);
    }
    &::after {
      width: 96px;
      height: 96px;
      top: 25px;
      margin-left: -48px;
      background-color: #181a1b;
    }
  }
  span {
    position: relative;
    z-index: 5;
  }
}
