.benefits-wrap {
  padding-top: 20px;
  position: relative;
  &::after {
    width: 100%;
    height: 400px;
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    background: url(../img/bg-for-business.png) no-repeat center top;
  }
}

.benefits {
  list-style: none;
  padding-left: 0;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: space-around;

  [class^="icon-"] {
    width: 96px;
    height: 96px;
    margin: 0 auto 18px;
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0 8px 12px 0 rgba(191, 191, 191, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-experience svg {
    width: 50px;
    height: 50px;
  }
  .icon-any-complexity svg {
    width: 45px;
    height: 60px;
  }
  .icon-orders svg {
    width: 50px;
    height: 50px;
  }
  .icon-any-language svg {
    width: 53px;
    height: 50px;
  }
  li {
    padding: 0 15px;
  }
}

.benefits-text {
  margin-bottom: 15px;
  display: inline-block;
}
