footer {
  padding-bottom: 20px;
  position: relative;
  &::before {
    width: 100%;
    height: 164px;
    margin-top: -160px;
    display: block;
    content: '';
    background: url(../img/bg-footer.png) no-repeat center top;
    position: relative;
    bottom: -41px;
  }
  .container {
    font-size: 15px;
    position: relative;
    z-index: 5;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    @include RobotoLight;
  }
}

.to-top {
  width: 60px;
  height: 60px;
  bottom: 45px;
  right: 5px;
  border-radius: 50%;
  background: #FFFFFF;
  position: fixed;
  z-index: 509;
  text-align: center;
  box-shadow: 0 8px 12px 0 rgba(191, 191, 191, 0.35);
  transition: all 0.3s ease;
  cursor: pointer;
  .arrow {
    width: 18px;
    height: 15px;
    margin-top: 23px;
    fill: #4580E0;
    transform: rotateZ(-90deg);
    transition: all 0.3s ease;
  }
  &:hover {
    background: #E0A700;
    box-shadow: 0 8px 12px 0 rgba(232, 173, 0, 0.35);
    .arrow {
      fill: #ffffff;
    }
  }
}
