.home-header {
  width: 100%;
  height: 100vh;
  padding: 57px 20px 20px;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: 55;
  overflow: hidden;
  position: absolute;
  transition: transform 0.8s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  will-change: transform;
  display: flex;
  flex-direction: column;
}

.header-out {
  transform: translate(0, -100%);
}

.header-down {
  width: 1px;
  height: 65px;
  bottom: 20px;
  left: 50%;
  margin-left: -1px;
  z-index: 92;
  background-color: #fff;
  position: absolute;
  overflow: hidden;
  &::after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    background-color: #3cc9e5;
    transform: translate(0, - 100%);
    animation: spin 2s infinite linear;
  }
}

.video-bg {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  top: 20px;
  left: 20px;
  right: 0;
  bottom: 0;
  position: absolute;
  background-image: url(../img/bg/bg-header@2x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  overflow: hidden;
}

.fullscreen-video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.header-panel {
  width: 100%;
  height: 50px;
  padding: 0 80px;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
}

.header-panel-sound {
  display: flex;
  align-items: center;
  audio {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 7px;
  }
}

.linecol {
  fill: #fff;
}

#volume-control {
  width: 32px;
}

.header-content {
  max-width: 1400px;
  width: 100%;
  height: calc(100% - 95px);
  max-height: 776px;
  margin: auto;
  top: -107px;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: baseline;
}

.header-content-right {
  max-width: 556px;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-content-text {
  padding-top: 241px;
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  @include CeraGRLight;
  img {
    max-width: 340px;
    margin-bottom: 30px;
  }
}

.logo {
  max-width: 733px;
  left: -63px;
  bottom: -92px;
  position: relative;
  display: block;
}

.menu {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  @include CeraGRMedium;
}

.menu-link {
  display: inline-block;
  color: #fff;
  position: relative;
  transition: color 0.4s;
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #3cc9e5;
    transform: scale3d(0, 1, 1);
    transition: transform 0.2s;
  }
  &::before {
    top: -1rem;
    transform-origin: 0 50%;
  }
  &::after {
    bottom: -1rem;
    transform-origin: 100% 50%;
  }
  &:hover {
    color: #3cc9e5;
    &::before, &::after {
      transform: scale3d(1, 1, 1);
      transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
      transition-duration: 0.4s;
    }
  }
}
