.home-header {
  height: 100vh;
  padding: 20px;
  position: relative;
  background-size: cover;
  .fp-tableCell {
    height: 100% !important;
    padding: 37px 80px 0;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.header-down {
  width: 1px;
  height: 65px;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  z-index: 92;
  position: absolute;
  overflow: hidden;
  background-color: #fff;
  &::after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    background-color: #3cc9e5;
    transform: translate3d(0, - 100%, 0);
    animation: spin  .7s infinite linear;
  }
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/bg/bg-header@2x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.fullscreen-video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.header-panel {
  width: 100%;
  height: 50px;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
}

.header-panel-sound {
  display: flex;
  align-items: center;
}


.header-content {
  width: 1400px;
  height: calc(100% - 95px);
  max-height: 776px;
  margin-top: -50px;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: baseline;
}

.header-content-right {
  max-width: 525px;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-content-text {
  padding-top: 160px;
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  @include CeraGRLight;
  img {
    max-width: 340px;
    margin-bottom: 25px;
  }
}

.logo {
  max-width: 733px;
  left: -68px;
  bottom: -72px;
  position: relative;
  display: block;
}

.menu {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  @include CeraGRMedium;
}

.menu-link {
  display: inline-block;
  color: #fff;
  position: relative;
  transition: color 0.4s;
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #3cc9e5;
    transform: scale3d(0, 1, 1);
    transition: transform 0.2s;
  }
  &::before {
    top: -1rem;
    transform-origin: 0 50%;
  }
  &::after {
    bottom: -1rem;
    transform-origin: 100% 50%;
  }
  &:hover {
    color: #3cc9e5;
    &::before, &::after {
      transform: scale3d(1, 1, 1);
      transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
      transition-duration: 0.4s;
    }
  }
}
