.nav-left {
  width: 64px;
  height: 100%;
  padding: 52px 0 55px;
  background-color: #141516;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 95;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  &.fixed {
    position: fixed;
    left: 0;
    top: 0;
    + .nav-panel {
      position: fixed;
      left: 0;
      top: 0;
    }
  }
}

.navbar-toggle {
  width: 36px;
  height: 24px;
  padding: 11px 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    width: 25px;
    height: 2px;
    border-radius: 40px;
    transition: all 0.3s ease;
  }
  .close {
    width: 22px;
    height: 22px;
    fill: #fff;
    position: absolute;
    top: 0;
    left: 7px;
    transition: all 0.3s ease;
  }
  &:not(.navbar-toggle-open) {
    &::before {
      display: block;
      background-color: #ffffff;
      box-shadow: 0 8px 0 0 #ffffff, 0 -7px 0 0 #ffffff;
    }
    .close {
      opacity: 0;
    }
  }
  &:hover::before {
    background-color: #3cc9e5;
    box-shadow: 0 8px 0 0 #3cc9e5, 0 -7px 0 0 #3cc9e5;
  }
}

.panel-sound {
  position: relative;
  .slider-range {
    position: absolute;
    top: -77px;
    margin-left: 11px;
  }
}

.slider-vertical {
  width: 3px;
  height: 70px;
  .ui-slider-handle {
    width: 15px;
    height: 1px;
    left: -.4em;
    margin-left: 0;
    margin-bottom: -.1em;
  }
}

.class {}
jmfc
