.our-mission {
  width: calc(100% - 15px);
  height: 100%;
  padding-left: 64px;
  top: 0;
  left: 0;
  background: url(../img/bg/bg-our-mission.png) no-repeat top left;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  z-index: 55;
  transform: translate3d(0, 100%, 0);
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  will-change: transform;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.our-mission-list {
  display: flex;
  justify-content: space-around;
  > li {
    position: relative;
    &:not(:first-child):not(:last-child) {
      padding-top: 41px;
      .decor-rhombus {
        width: 122px;
        height: 122px;
        margin-left: -61px;
        top: 0;
        &::after {
          width: 116px;
          height: 116px;
          margin-left: -58px;
        }
      }

      .list-line {
        padding-top: 75px;
      }
    }
    &:first-child, &:last-child {
      padding-top: 40px;
      .decor-rhombus {
        width: 90px;
        height: 90px;
        margin-left: -45px;
        top: 17px;
        &::after {
          width: 84px;
          height: 84px;
          margin-left: -42px;
        }
      }
      .list-line {
        padding-top: 76px;
      }
    }
  }
}
