.our-mission {
  height: 100vh;
  padding-left: 64px;
  position: relative;
  background-color: #0c83e7;
/*  background: url(../img/bg/bg-our-mission.png) no-repeat top left;
  background-size: cover;*/
}
