.our-mission {
  height: 100vh;
  position: relative;
  background: url(../img/bg/bg-our-mission.png) no-repeat top left;
  background-size: cover;
  .fp-tableCell {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.our-mission-list {
  display: flex;
  justify-content: space-around;
  > li {
    position: relative;
    &:not(:first-child):not(:last-child) {
      padding-top: 41px;
      .decor-rhombus {
        width: 122px;
        height: 122px;
        margin-left: -61px;
        top: 0;
        &::after {
          width: 116px;
          height: 116px;
          margin-left: -58px;
        }
      }

      .list-line {
        padding-top: 75px;
      }
    }
    &:first-child, &:last-child {
      padding-top: 40px;
      .decor-rhombus {
        width: 90px;
        height: 90px;
        margin-left: -45px;
        top: 17px;
        &::after {
          width: 84px;
          height: 84px;
          margin-left: -42px;
        }
      }
      .list-line {
        padding-top: 76px;
      }
    }
  }
}
