.portfolio-wrapper {
  overflow: hidden;
}

.portfolio-nav {
  width: 100%;
  padding-top: 259px;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: none;
}

.portfolio-nav-next,
.portfolio-nav-prev {
  height: 55px;
  margin-bottom: 2px;
  background-color: #1b1d1e;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: background-color 0.5s ease;
  svg {
    width: 25px;
    height: 25px;
    fill: #33ddfb;
    transition: fill 0.5s ease;
  }
  div {
    top: 12px;
    position: absolute;
  }
  &::before {
    width: 100%;
    position: absolute;
    left: 0;
    font-size: 11px;
    z-index: -1;
    transition: all 0.5s ease;
  }
  &:hover {
    background-color: #33ddfb;
    svg {
      fill: #fff;
    }
  }
}

.portfolio-nav-next {
  &::before {
    top: 0;
    content: '' attr(data-next) '';
  }
  div {
    transform: rotate(-90deg);
    left: 23px;
  }
  &:hover::before {
    transform: translateY(-20px);
  }
}

.portfolio-nav-prev {
  &::before {
    bottom: 0;
    content: '' attr(data-prev) '';
  }
  div {
    transform: rotate(90deg);
    left: 16px;
  }
  &:hover::before {
    transform: translateY(20px);
  }
}

.portfolio .portfolio-nav {
  display: block;
}

.portfolio-header {
  position: relative;
}

.portfolio-header-logo {
  width: 329px;
  margin: 0 auto;
  padding-top: 125px;
}

.portfolio-info-desc {
  padding: 40px 50px 25px;
  color: #b0b0b0;
  box-shadow: 0 0 40px rgba(#000, .4);
  background: url(../img/cases/rentpro/decor.png) no-repeat 101% 114% #141516;
  display: flex;
}

.portfolio-info-left {
  padding-top: 3px;
  border-right: 1px solid #1d1f20;
  @include CeraGRLight;
}

.portfolio-info-text {
  line-height: 1.3;
  font-size: 18px;
  p {
    &:first-of-type {
      margin-bottom: 25px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.portfolio-info-title {
  margin-bottom: 20px;
  color: #fff;
  font-size: 40px;
  @include CeraGRMedium;
}

.portfolio-info-block:first-of-type {
  margin-bottom: 50px;
}

.portfolio-info-right-title {
  margin-bottom: 10px;
  font-size: 20px;
  text-transform: uppercase;
  color: #33ddfb;
  @include CeraGRRegular;
}

.portfolio-info-link {
  padding-top: 35px;
  text-align: right;
  font-size: 19px;
  a {
    padding-left: 41px;
    position: relative;
    &::before {
      width: 25px;
      height: 1px;
      position: absolute;
      top: 11px;
      left: 0;
      background-color: #33ddfb;
      content: '';
      transition: all 0.3s ease;
    }
    &:hover {
      &::before {
        width: 100%;
        background-color: #fff;
      }
    }
  }
}

.process {
  margin-bottom: 155px;
  display: flex;
}

.process-content {
  padding-right: 4%;
  flex: 1 1 auto;
}

.portfolio-title {
  margin-bottom: 50px;
  color: #33ddfb;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: normal;
  white-space: nowrap;
  @include CeraGRBold;
  &::before {
    width: 48px;
    height: 1px;
    margin-right: 36px;
    display: inline-block;
    vertical-align: middle;
    background-color: #33ddfb;
    content: '';
  }
}

.portfolio-text {
  font-size: 18px;
  line-height: 1.3;
}

.process-media {
  min-width: 460px;
  padding-top: 24px;
  max-width: 43%;
  flex: 1 0 50%;
  display: flex;
}

.process-media-img {
  max-width: 64%;
  margin-right: -70px;
  margin-top: 23px;
  position: relative;
  z-index: 5;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  align-self: flex-start;
}

.process-media-img-2 {
  width: 50%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  align-self: flex-start;
}

.process-media-img-3 {
  max-width: 551px;
}

.branding {
  margin-bottom: 110px;
}

.branding-img {
  margin-top: 66px;
  margin-bottom: 47px;
}

.branding-final {
  display: flex;
}

.branding-final-left {
  margin-right: 30px;
  -ms-flex: 0 0 auto;
  flex: none;
  display: flex;
}

.branding-final-img {
  width: 320px;
  padding: 35px 70px;
  background-color: #fff;
  &:first-of-type {
    background-color: #eaeff8;
    box-shadow: 0 0 30px rgba(#000, .3);
  }
}

.branding-final-content {
  padding: 30px;
  background-color: #141516;
  flex: 1 1 auto;
  box-shadow: 0 0 30px rgba(#000, .3);
}

.branding-final-title {
  margin-bottom: 15px;
  font-size: 24px;
  color: #33ddfb;
  font-weight: normal;
  @include CeraGRMedium;
}

.portfolio-style {
  margin-bottom: 140px;
  .portfolio-text {
    padding: 33px 30px 29px 0;
    position: relative;
    &::before, &::after {
      right: 0;
      bottom: 0;
      position: absolute;
      border: 10px solid #212324;
      z-index: -1;
      content: '';
    }
    &::before {
      width: calc(100% - 45px);
      height: 100%;
    }
    &::after {
      width: 170px;
      height: 57px;
      left: 45px;
      border-color: #1b1d1e;
      border-top-width: 0;
      border-right-width: 0;
    }
  }
}

.portfolio-head {
  padding-top: 33px;
  padding-bottom: 28px;
  margin-bottom: 72px;
  text-align: center;
  position: relative;
}

.portfolio-head-decor {
  position: absolute;
  width: 88px;
  height: 88px;
  top: 20px;
  left: 50%;
  margin-left: -48px;
  transform: rotateZ(45deg);
  background: #0f5c80;
  background: -webkit-linear-gradient(-45deg, #0f5c80 0%, #232525 50%);
  background: -webkit-linear-gradient(315deg, #0f5c80 0%, #232525 50%);
  background: linear-gradient(135deg, #0f5c80 0%, #232525 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f5c80', endColorstr='#232525', GradientType=0.5);
  &::before, &::after {
    content: '';
    position: absolute;
  }
  &::before {
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 3;
    background: #232525;
    background: -webkit-linear-gradient(-45deg, #232525 0%, #0f5c80 100%);
    background: -webkit-linear-gradient(315deg, #232525 0%, #0f5c80 100%);
    background: linear-gradient(135deg, #232525 0%, #0f5c80 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#232525', endColorstr='#0f5c80', GradientType=1);
    -webkit-animation: backgroundChange 3s alternate-reverse infinite;
    animation: backgroundChange 3s alternate-reverse infinite;
  }
  &::after {
    width: 82px;
    height: 82px;
    top: 3px;
    left: 50%;
    margin-left: -41px;
    background-color: #181a1b;
    z-index: 5;
  }
}

.portfolio-head-title {
  margin-bottom: 0;
  color: #33ddfb;
  font-size: 48px;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
  z-index: 5;
  @include CeraGRMedium;
}

.portfolio-style-wrap {
  display: flex;
}

.portfolio-style-fonts li {
  max-width: 467px;
  &:not(:first-child):not(:last-child) {
    max-width: 472px;
  }
  &:not(:last-child) {
    margin-bottom: 59px;
  }
}

.portfolio-style-right {
  max-width: 49%;
  flex: 1 1 auto;
  margin-left: auto;
}

.portfolio-style-colors {
  margin-top: 113px;
  padding-left: 22px;
  padding-right: 22px;
  display: flex;
  justify-content: space-between;
  li {
    width: 106px;
    height: 106px;
    flex-basis: 106px;
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid;
    box-shadow: inset 0 0 0 9px #1b1d1e;
    transform: rotateZ(45deg);
    &::before {
      position: absolute;
      content: '' attr(data-color) '';
      bottom: -32px;
      left: 100px;
      color: #f1f1f1;
      font-size: 15px;
      text-transform: uppercase;
      transform: rotateZ(-45deg);
    }
  }
}

.result-content .portfolio-text {
  padding-right: 330px;
}

.result {
  padding: 55px 95px 143px;
  display: flex;
}

.result-nav {
  width: 220px;
  padding-top: 40px;
  padding-right: 20px;
  flex: none;
  
  .nav-panel-menu {
    padding-left: 0;
    font-size: 18px;
    li {
      padding-left: 49px;
      &:hover {
        a {
          color: #33ddfb;
        }
        &::before {
          background-color: #33ddfb;
        }
      }
      &:not(:hover)::before {
        width: 30px;
      }
      &::before {
        top: 11px;
      }
      &:not(:last-child) {
        margin-bottom: 100px;
      }
    }
  }
}

.result-nav-title {
  margin-bottom: 120px;
  color: #33ddfb;
  font-size: 24px;
  @include CeraGRMedium;
}

.result-project {
  height: 775px;
  overflow: hidden;
  position: relative;
  flex: 1 1 auto;
}

.result-touch {
  display: none;
}

.adaptivity {
  margin-bottom: 130px;
  .portfolio-head {
    margin-bottom: 94px;
  }
}

.adaptivity-wrap {
  display: flex;
}

.adaptivity-media {
  display: flex;
}

.adaptivity-media-img {
  width: 188px;
  transform: translateX(5px);
  box-shadow: 0 0 30px rgba(#000, .3);
  align-self: flex-start;
  &:first-of-type {
    width: 200px;
    position: relative;
    z-index: 5;
    transform: translate3d(31px, 40px, 0);
  }
}

.iphone-frame {
  flex: none;
}

.iphone-frame-block {
  width: 371px;
  height: 752px;
  margin: 0 auto;
  padding-top: 92px;
  border-radius: 55px;
  background: url(../img/iphone-6s.png) no-repeat center top;
  background-size: 371px 752px;
  box-shadow: 0 0 40px rgba(#000, .4);
}

.iphone-frame-screen {
  width: 320px;
  height: 570px;
  margin: 0 auto;
  border: 2px solid #0c0c0c;
  border-radius: 4px;
}

.iphone-content {
  max-width: 32%;
  margin-left: auto;
  padding: 33px 30px 0 0;
  position: relative;
  flex: 1 1 32%;
  align-self: flex-start;
  &::before, &::after {
    left: 0;
    bottom: 0;
    position: absolute;
    border: 10px solid #212324;
    z-index: -1;
    content: '';
  }
  &::before {
    width: 100%;
    height: 100%;
  }
  &::after {
    width: 30%;
    height: 80%;
    left: 0;
    bottom: 0;
    border-color: #1b1d1e;
    border-top-width: 0;
    border-right-width: 0;
  }
}

.iphone-content-title {
  margin-bottom: 28px;
  font-size: 25px;
  color: #33ddfb;
  text-align: center;
  font-weight: normal;
  @include CeraGRMedium;
}

.portfolio-pagination {
  margin-bottom: 100px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-pagination-btn {
  text-align: center;
  .btn-white {
    height: 65px;
    line-height: 65px;
    padding-left: 35px;
    padding-right: 35px;
    border-color: #33ddfb;
    &::after {
      background-color: #33ddfb;
    }
    &:hover, &:active {
      color: #fff;
      &::after {
        height: 270px;
      }
    }
  }
}

.portfolio-pagination-text {
  position: relative;
  font-size: 19px;
  &::before, &::after {
    width: 25px;
    height: 1px;
    position: absolute;
    top: 11px;
    background-color: #33ddfb;
    transition: width 0.3s ease;
  }
  &:hover {
    color: #fff;
    &::before, &::after {
      width: 100%;
      background-color: #fff;
    }
  }
}

.portfolio-pagination-prev {
  text-align: right;
  .portfolio-pagination-text {
    padding-right: 36px;
    &::after {
      right: 0;
      content: '';
    }
  }
}

.portfolio-pagination-next .portfolio-pagination-text {
  padding-left: 36px;
  &::before {
    left: 0;
    content: '';
  }
}
