.tariff {
  padding-top: 150px;
  margin-bottom: 50px;
  position: relative;

  &::before {
    width: 100%;
    height: 170px;
    background: url(../img/bg-writing-texts.jpg) no-repeat center top;
    content: '';
    position: absolute;
    bottom: -167px;
    left: 0;
  }

  .nav-tabs {
    li {
      &::before {
        width: 17px;
        height: 17px;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        display: inline-block;
        vertical-align: top;
        transition: all 0.3s ease;
      }
      &:not(.active) {
        &:first-child {
          &::before {
            background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2017%2017%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Eicon%3C%2Ftitle%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23585858%22%20d%3D%22M.5%208H4.51v9H.5z%22%2F%3E%3Cpath%20stroke%3D%22%23585858%22%20d%3D%22M7.012%204.5h3.007v12H7.01z%22%2F%3E%3Cpath%20stroke%3D%22%23585858%22%20d%3D%22M13.022.5h3.007v16H13.02z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
          }
        }
        &:nth-child(2)::before {
          background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2017%2017%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Ctitle%3Eicon%3C%2Ftitle%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M6.01%204h4.008v13H6.01z%22%2F%3E%3C%2Fdefs%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23595959%22%20d%3D%22M.36%208H4.37v9H.36z%22%2F%3E%3Cg%20transform%3D%22translate(.36)%22%3E%3Cuse%20fill%3D%22%23595959%22%20fill-rule%3D%22evenodd%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Cpath%20stroke%3D%22%23595959%22%20stroke-width%3D%221%22%20d%3D%22M6.51%204.5H9.52v12H6.51z%22%2F%3E%3C%2Fg%3E%3Cpath%20stroke%3D%22%23595959%22%20d%3D%22M12.88.5h3.008v16H12.88z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
        }
        &:last-child::before {
          background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2017%2017%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Eicon%3C%2Ftitle%3E%3Cg%20fill%3D%22%23595959%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M.95%208H4.96v9H.95z%22%2F%3E%3Cpath%20d%3D%22M6.962%204h4.007v13H6.96z%22%2F%3E%3Cpath%20d%3D%22M12.972%200h4.007v17H12.97z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
        }
      }
    }
    li:hover, .active {
      &:first-child::before {
        background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2017%2017%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Eicon%3C%2Ftitle%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M.5%208H4.51v9H.5z%22%2F%3E%3Cpath%20stroke%3D%22%23FFF%22%20d%3D%22M7.012%204.5h3.007v12H7.01z%22%2F%3E%3Cpath%20stroke%3D%22%23FFF%22%20d%3D%22M13.022.5h3.007v16H13.02z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      }
      &:nth-child(2)::before {
        background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2017%2017%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Ctitle%3Eicon%3C%2Ftitle%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M6.01%204h4.008v13H6.01z%22%2F%3E%3C%2Fdefs%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M.36%208H4.37v9H.36z%22%2F%3E%3Cg%20transform%3D%22translate(.36)%22%3E%3Cuse%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Cpath%20stroke%3D%22%23FFF%22%20stroke-width%3D%221%22%20d%3D%22M6.51%204.5H9.52v12H6.51z%22%2F%3E%3C%2Fg%3E%3Cpath%20stroke%3D%22%23FFF%22%20d%3D%22M12.88.5h3.008v16H12.88z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      }
      &:last-child::before {
        background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2017%2017%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Eicon%3C%2Ftitle%3E%3Cg%20fill%3D%22%23FFF%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M.95%208H4.96v9H.95z%22%2F%3E%3Cpath%20d%3D%22M6.962%204h4.007v13H6.96z%22%2F%3E%3Cpath%20d%3D%22M12.972%200h4.007v17H12.97z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      }
    }
  }

  .tab-content {
    padding: 0 0 95px 30px;
    position: relative;
    box-shadow: inset 14px -14px 0 rgba(69, 129, 224, .04);
    @include clearfix;
    .pull-right {
      margin-left: 25px;
    }
    .pull-left {
      margin-right: 25px;
    }
  }

  .tab-pane {
    padding-top: 20px;
  }
}

.tariff-title {
  position: relative;
}

.tariff-order {
  width: 100%;
  height: 60px;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: -22px;
  .btn-yellow {
    padding: 0 0 0 40px;
    line-height: 1;
    font-size: 17px;
    letter-spacing: 1.2px;
    display: inline-flex;
    align-items: center;
    align-content: center;

    .cost {
      width: 110px;
      height: 60px;
      margin-top: 2px;
      margin-left: 40px;
      border-radius: 0 2px 2px 0;
      display: inline-flex;
      vertical-align: middle;
      align-items: center;
      justify-content: center;
      font-size: 19px;
      text-transform: none;
      background-color: #E1A800;
      @include RobotoMedium;
    }
  }
}

#for-business {
  margin-bottom: 120px;
}

.for-business-link {
  color: #999999;
  border-bottom: 1px solid;
  letter-spacing: 1.1px;
  line-height: 1;
  text-transform: uppercase;
  position: absolute;
  top: 25px;
  right: 0;
  @include RobotoBold;
}

.info-description {
  margin-top: 26px;
  margin-left: 2px;
  padding-left: 15px;
  border-left: 3px solid #999;
  font-size: 15px;
  p {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.tariff-title-tab {
  margin: -20px 0 20px;
  padding: 0;
  font-size: 18px;
  letter-spacing: 1.2px;
  text-align: center;
  text-transform: uppercase;
  @include RobotoMedium;
}

.promotion-strategy {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.promotion-strategy-title {
  padding: 18px 10px 15px;
  min-height: 54px;
  margin-bottom: 22px;
  background-color: #F8FAFE;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #585858;
  letter-spacing: 1px;
  line-height: 27px;
}
