.writing-texts {
  padding-top: 135px;
  padding-bottom: 50px;
  overflow: hidden;

  .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &::before, &::after {
      content: '';
      position: absolute;
      z-index: 5;
    }
    &::before {
      width: 194px;
      height: 194px;
      background: url(../img/buble-decor.png) no-repeat center;
      left: -52px;
      bottom: -64px;
    }
    &::after {
      width: 158px;
      height: 158px;
      background: url(../img/buble-decor-mini.png) no-repeat center;
      right: -38px;
      bottom: 107px;
    }
  }
  h2 {
    width: 100%;
  }

  .list-blue {
    font-size: 15px;
  }
}

.writing-texts-box {
  margin-bottom: 60px;
  padding-right: 117px;
  flex-basis: 50%;
  position: relative;
  z-index: 7;
  + .writing-texts-box {
    padding-left: 117px;
    padding-right: 0;
  }
  .title {
    padding: 0;
    margin: 0 0 15px;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
    text-transform: uppercase;
    @include RobotoMedium;
  }
}


.writing-texts-price {
  width: 322px;
  padding: 22px 22px 20px;
  background-color: #fff;
  border-radius: 2px 6px 6px 6px;
  box-shadow: 0 0 35px 0 rgba(69, 128, 224, 0.15);
  position: relative;
  z-index: 7;

  .title {
    margin: 0 0 0 -7px;
    padding: 0 0 7px;
    font-size: 19px;
    letter-spacing: 1.18px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    @include RobotoMedium;
  }
  .icon-dollar {
    width: 11px;
    height: 20px;
    margin-top: 2px;
    margin-right: 4px;
    vertical-align: top;
  }
  .text-yellow {
  }
  .slash {
    font-size: 18px;
  }
  .text {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DEE3E5;
    font-size: 17px;
    letter-spacing: 1.2px;
    line-height: 27px;
    text-align: center;
    @include RobotoMedium;
    .text-yellow {
      font-size: 20px;
      color: #E0A700;
    }
  }
  .list-blue li {
    padding-left: 29px;
    margin-bottom: 3px;
  }
}

.writing-texts-btn {
  &::before {
    width: 480px;
    height: 480px;
    content: '';
    background: url(../img/buble-writing.png) no-repeat center;
    z-index: 2;
    position: absolute;
    bottom: -190px;
    left: -140px;
  }
  .icon-writing-text {
    z-index: 5;
  }
  .btn {
    position: relative;
    margin: 0;
    z-index: 4;
  }
}
